*{
    margin: 0;
    padding: 0;
}
body{
    height: 3000px;
}
#boxMain{

    position: relative;
    z-index: 100;
    top: 300px;
    left: 300px;
}
.box{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    position: absolute;
    z-index: 99;
    
}

header{
    background-color: blueviolet;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 101;
}
#boxBlack{
    background-color: black;
    z-index: 100;
}
#contenedor{
  /* margin-top: 50px;*/
  padding-top: 50px;
    
}
#box01{
    top: -100px;
    left: -100px;
}