*{
    margin: 0;
    padding: 0;
}
body{
    height: 3000px;
}
#boxMain{

  /*  position: relative;
    z-index: 100;
    top: 300px;
    left: 300px;*/
    background-color: brown;
}
.box{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    margin-bottom: 3px;
   /* position: absolute;*/
    /*z-index: 99;*/
    float: left;
    
}

header{
    background-color: blueviolet;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 101;
}
#boxBlack{
    background-color: black;
   /* float: left;*/
   /* z-index: 100;*/
}
#contenedor{
  /* margin-top: 50px;*/
  padding-top: 50px;
  
    
}
#box01{
    
  /*  top: -100px;
    left: -100px;*/
}
.clear{
    clear: both;
}